.timeBox {
    display: inline-block;
    margin: 20px;
}
button {
    margin: .5cm;
    height: 2cm;
    width: 5cm;
    font-size: large;
    background: rgb(236, 218, 57);
}
#clock {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    border: 2px solid rgb(194, 4, 4);
  }
  #hours,
  #minutes,
  #seconds,
  #three,
  #nine,
  #six,
  #twelve {
    position: absolute;
    background: rgb(24, 33, 167);
    border-radius: 10px;
    transform-origin: bottom;
  }
  #hours {
    width: 1.8%;
    height: 25%;
    top: 26%;
    left: 48%;
    opacity: 0.8;
    /* display: none; */
  }
  #minutes {
    width: 1.2%;
    height: 35%;
    top: 16%;
    left: 48.4%;
    opacity: 0.8;
    /* display: none; */
  }
  #seconds {
    height: 38%;
    top: 13%;
    width: 0.8%;
    left: 48.4%;
    opacity: 0.8;
    /* display: none; */
  }
  #three {
    transform: rotate(var(--rotation));
    --rotation: 90deg;
    height: 10%;
    top: 42%;
    width: 1%;
    left: 90%;
    opacity: 0.8;
    /* display: none; */
  }
  #nine {
    transform: rotate(var(--rotation));
    --rotation: 270deg;
    height: 10%;
    top: 42%;
    width: 1%;
    left: 9%;
    opacity: 0.8;
    /* display: none; */
  }
  #six {
    transform: rotate(var(--rotation));
    --rotation: 180deg;
    height: 10%;
    top: 80%;
    width: 1%;
    left: 48%;
    opacity: 0.8;
    /* display: none; */
  }
  #twelve {
    transform: rotate(var(--rotation));
    --rotation: 180deg;
    height: 10%;
    top: -10%;
    width: 1%;
    left: 48%;
    opacity: 0.8;
    /* display: none; */
  }